In [12]:
import pandas as pd
df = pd.read_csv('E:\epicode\dati energia\kaggle\World Energy Consumption.csv')

- Si tratta dello stesso file usato precedentemente quindi non ripeto tutti i passaggi di esplorazione/descrizione del set di dati

In [13]:
df=df[['country','year','biofuel_share_elec', 'biofuel_share_energy','coal_share_elec','coal_share_energy','fossil_share_elec',
       'fossil_share_energy','gas_share_energy','gas_share_elec','hydro_share_energy','hydro_share_elec','low_carbon_share_elec',
       'low_carbon_share_energy','nuclear_share_elec','nuclear_share_energy','oil_share_elec','oil_share_energy','other_renewables_share_elec',
       'other_renewables_share_energy','renewables_share_elec','renewables_share_energy','solar_share_elec','solar_share_energy',
       'wind_share_elec','wind_share_energy']]

In [14]:
df=df[df['year']>=2000]
countries=['Algeria','Angola', 'Congo', 'Equatorial Guinea', 'Gabon', 'Iran', 'Iraq', 'Kuwait','Lybia', 'Nigeria', 'Saudi Arabia',
           'United Arab Emirates', 'Venezuela','United States','Japan','India', 'Canada', 'China', 'Russia']
filtro_countries = df.loc[:, "country"].isin(countries)
df = df.loc[filtro_countries]

In [15]:
df

,country,year,biofuel_share_elec,biofuel_share_energy,coal_share_elec,coal_share_energy,fossil_share_elec,fossil_share_energy,gas_share_energy,gas_share_elec,...,oil_share_elec,oil_share_energy,other_renewables_share_elec,other_renewables_share_energy,renewables_share_elec,renewables_share_energy,solar_share_elec,solar_share_energy,wind_share_elec,wind_share_energy
460,Algeria,2000,0.0,0.0,0.0,1.881,99.778,99.950,63.685,99.778,...,0.0,34.385,0.0,0.0,0.222,0.050,0.000,0.000,0.000,0.000
461,Algeria,2001,0.0,0.0,0.0,2.095,99.728,99.939,63.488,99.728,...,0.0,34.355,0.0,0.0,0.272,0.061,0.000,0.000,0.000,0.000
462,Algeria,2002,0.0,0.0,0.0,2.655,99.785,99.951,60.520,99.785,...,0.0,36.776,0.0,0.0,0.215,0.049,0.000,0.000,0.000,0.000
463,Algeria,2003,0.0,0.0,0.0,2.092,99.058,99.786,61.130,99.058,...,0.0,36.564,0.0,0.0,0.942,0.214,0.000,0.000,0.000,0.000
464,Algeria,2004,0.0,0.0,0.0,2.404,99.156,99.806,60.589,99.156,...,0.0,36.813,0.0,0.0,0.844,0.194,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16683,Venezuela,2015,0.0,0.0,0.0,0.173,37.718,79.708,40.472,37.718,...,0.0,39.063,0.0,0.0,62.282,20.292,0.006,0.002,0.060,0.000
16684,Venezuela,2016,0.0,0.0,0.0,0.173,40.368,81.312,44.845,40.368,...,0.0,36.294,0.0,0.0,59.632,18.688,0.007,0.003,0.068,0.000
16685,Venezuela,2017,0.0,0.0,0.0,0.186,40.367,81.306,48.676,40.367,...,0.0,32.444,0.0,0.0,59.633,18.694,0.007,0.003,0.071,0.000
16686,Venezuela,2018,0.0,0.0,0.0,0.196,40.366,79.220,46.384,40.366,...,0.0,32.640,0.0,0.0,59.634,20.780,0.006,0.003,0.073,0.000
16687,Venezuela,2019,0.0,0.0,0.0,0.142,41.545,74.609,42.770,41.545,...,0.0,31.698,0.0,0.0,58.455,25.391,0.007,0.005,0.080,0.059

In [16]:
df.to_csv('E:\epicode\dati energia\kaggle\share.csv')

- Apro il file csv che ho creato per controllare i valori NaN

In [17]:
import pandas as pd
df = pd.read_csv('E:\epicode\dati energia\kaggle\share.csv')

In [18]:
df.isnull().sum()

Unnamed: 0                         0
country                            0
year                               0
biofuel_share_elec                 0
biofuel_share_energy             108
coal_share_elec                    0
coal_share_energy                108
fossil_share_elec                  0
fossil_share_energy              108
gas_share_energy                 108
gas_share_elec                     0
hydro_share_energy               108
hydro_share_elec                   0
low_carbon_share_elec              0
low_carbon_share_energy          108
nuclear_share_elec                 0
nuclear_share_energy             108
oil_share_elec                     0
oil_share_energy                 108
other_renewables_share_elec        0
other_renewables_share_energy    108
renewables_share_elec              0
renewables_share_energy          108
solar_share_elec                   0
solar_share_energy               108
wind_share_elec                    0
wind_share_energy                108
dtype: int64

In [19]:
df.notnull().sum()

Unnamed: 0                       368
country                          368
year                             368
biofuel_share_elec               368
biofuel_share_energy             260
coal_share_elec                  368
coal_share_energy                260
fossil_share_elec                368
fossil_share_energy              260
gas_share_energy                 260
gas_share_elec                   368
hydro_share_energy               260
hydro_share_elec                 368
low_carbon_share_elec            368
low_carbon_share_energy          260
nuclear_share_elec               368
nuclear_share_energy             260
oil_share_elec                   368
oil_share_energy                 260
other_renewables_share_elec      368
other_renewables_share_energy    260
renewables_share_elec            368
renewables_share_energy          260
solar_share_elec                 368
solar_share_energy               260
wind_share_elec                  368
wind_share_energy                260
dtype: int64

In [20]:
df.head(10)

,Unnamed: 0,country,year,biofuel_share_elec,biofuel_share_energy,coal_share_elec,coal_share_energy,fossil_share_elec,fossil_share_energy,gas_share_energy,...,oil_share_elec,oil_share_energy,other_renewables_share_elec,other_renewables_share_energy,renewables_share_elec,renewables_share_energy,solar_share_elec,solar_share_energy,wind_share_elec,wind_share_energy
0,460,Algeria,2000,0.0,0.0,0.0,1.881,99.778,99.950,63.685,...,0.0,34.385,0.0,0.0,0.222,0.050,0.0,0.0,0.0,0.0
1,461,Algeria,2001,0.0,0.0,0.0,2.095,99.728,99.939,63.488,...,0.0,34.355,0.0,0.0,0.272,0.061,0.0,0.0,0.0,0.0
2,462,Algeria,2002,0.0,0.0,0.0,2.655,99.785,99.951,60.520,...,0.0,36.776,0.0,0.0,0.215,0.049,0.0,0.0,0.0,0.0
3,463,Algeria,2003,0.0,0.0,0.0,2.092,99.058,99.786,61.130,...,0.0,36.564,0.0,0.0,0.942,0.214,0.0,0.0,0.0,0.0
4,464,Algeria,2004,0.0,0.0,0.0,2.404,99.156,99.806,60.589,...,0.0,36.813,0.0,0.0,0.844,0.194,0.0,0.0,0.0,0.0
5,465,Algeria,2005,0.0,0.0,0.0,1.887,98.279,99.592,61.053,...,0.0,36.653,0.0,0.0,1.721,0.408,0.0,0.0,0.0,0.0
6,466,Algeria,2006,0.0,0.0,0.0,2.705,99.348,99.847,60.261,...,0.0,36.881,0.0,0.0,0.652,0.153,0.0,0.0,0.0,0.0
7,467,Algeria,2007,0.0,0.0,0.0,2.203,99.360,99.850,58.510,...,0.0,39.137,0.0,0.0,0.640,0.150,0.0,0.0,0.0,0.0
8,468,Algeria,2008,0.0,0.0,0.0,2.079,99.260,99.824,57.624,...,0.0,40.121,0.0,0.0,0.740,0.176,0.0,0.0,0.0,0.0
9,469,Algeria,2009,0.0,0.0,0.0,1.259,99.163,99.800,58.404,...,0.0,40.137,0.0,0.0,0.837,0.200,0.0,0.0,0.0,0.0

- Provo a sostituire i valori NaN con il valore medio della rispettiva colonna, raggruppato per tipo di Country

In [21]:
  
    df[['biofuel_share_elec', 'biofuel_share_energy','coal_share_elec','coal_share_energy','fossil_share_elec',
       'fossil_share_energy','gas_share_energy','gas_share_elec','hydro_share_energy','hydro_share_elec','low_carbon_share_elec',
       'low_carbon_share_energy','nuclear_share_elec','nuclear_share_energy','oil_share_elec','oil_share_energy','other_renewables_share_elec',
       'other_renewables_share_energy','renewables_share_elec','renewables_share_energy','solar_share_elec','solar_share_energy',
       'wind_share_elec','wind_share_energy']]= df.groupby("country")[['biofuel_share_elec', 'biofuel_share_energy','coal_share_elec','coal_share_energy','fossil_share_elec',
       'fossil_share_energy','gas_share_energy','gas_share_elec','hydro_share_energy','hydro_share_elec','low_carbon_share_elec',
       'low_carbon_share_energy','nuclear_share_elec','nuclear_share_energy','oil_share_elec','oil_share_energy','other_renewables_share_elec',
       'other_renewables_share_energy','renewables_share_elec','renewables_share_energy','solar_share_elec','solar_share_energy',
       'wind_share_elec','wind_share_energy']].transform(lambda x: x.fillna(x.mean()))

In [22]:
df.isnull().sum()

Unnamed: 0                         0
country                            0
year                               0
biofuel_share_elec                 0
biofuel_share_energy             101
coal_share_elec                    0
coal_share_energy                101
fossil_share_elec                  0
fossil_share_energy              101
gas_share_energy                 101
gas_share_elec                     0
hydro_share_energy               101
hydro_share_elec                   0
low_carbon_share_elec              0
low_carbon_share_energy          101
nuclear_share_elec                 0
nuclear_share_energy             101
oil_share_elec                     0
oil_share_energy                 101
other_renewables_share_elec        0
other_renewables_share_energy    101
renewables_share_elec              0
renewables_share_energy          101
solar_share_elec                   0
solar_share_energy               101
wind_share_elec                    0
wind_share_energy                101
dtype: int64

- Si può notare che sono stati sotituiti solo 7 valori. Questo accade perchè ci sono Paesi e rispettive fonti energetiche per cui il valore è sempre nullo nel corso degli anni, la media risulterà, quindi, sempre NaN.

In [23]:
df.to_csv('E:\epicode\dati energia\kaggle\share3.csv')

### A questo punto, per l'analisi finale, prenderò il file senza sostituzioni dei valori NaN poichè l'operazione non cambia di molto il risultato finale. I dati non disponibili sono comunque indicativi di quanto un Paese non abbia a disposizione quella risorsa energetica o i relativi dati.